In [1]:
def fn(l):
    l.append(4) #This modifies the existing object

In [2]:
m = [1, 3]

In [3]:
print(m)

[1, 3]

In [5]:
fn(m)

In [6]:
print(m)

[1, 3, 4, 4]

In [7]:
def fn1(l):
    l=l+[4]

In [8]:
fn1(m)

In [9]:
print(m)

[1, 3, 4, 4]

In [15]:
def fn2(l):
    l = {}
    l['Aion']=4

In [16]:
d = {"Kriste":1, "Selim": 3}
print (d)

{'Kriste': 1, 'Selim': 3}

In [17]:
fn2(d)

In [18]:
print(d)

{'Kriste': 1, 'Selim': 3}